main.container {
    display: flex;
    justify-content: center;
}

.form-container {
    width: 60vw;
    padding: 3vh 3vw;
    margin: 4vh 0;
    border-radius: 10px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.title {
    align-self: center;
}

.form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "t t" "d d" "pr pl" "r r" "play play" "c c" "i i" "b b";
    grid-gap: 0 1vw;
}

.register {
    width: 100%;
    margin: 10vh 0;
    grid-area: b;
}

.form-group {
    min-width: 10vw;
}

.input-title {
    grid-area: t;
}
.input-desc {
    grid-area: d;
}
.input-price {
    grid-area: pr;
}
.input-platform {
    grid-area: pl;
}
.input-played {
    grid-area: play;
}
.input-releaseDate {
    grid-area: r;
}
.input-image {
    grid-area: i;
    margin-top: 3vh;
}
.input-category {
    grid-area: c;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "l l l l";
}

.category-label {
    grid-area: l
}

@media only screen and (max-width: 680px) {
    .form-container form {
        grid-template-columns: 1fr;
        grid-template-areas: "t" "d" "pr" "pl" "r" "play" "c" "i" "b";
    }

    .input-category {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "l l";
    }
}

@media only screen and (max-width: 500px) {
    .input-category {
        grid-template-columns: 1fr;
        grid-template-areas: "l";
    }
}