.games-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
    margin-bottom: 10vh;
    padding: 3vh 5vw;
}

.game-card {
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
    max-width: 80vw;
}

.card-img-top {
    height: 30vh;
    object-fit: scale-down;
}

.card-header {
    min-height: 30vh;
}

.delete {
    margin-left: 1.5vh;
}

.btn {
    width: 7vw;
    min-height: 5vh;
    max-height: 7vh;
    text-align: center;
}

.categories-ul {
    min-height: 15vh;
    padding-left: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media only screen and (max-width: 990px) {
    .games-grid {
        grid-template-columns: 1fr 1fr;
        gap: 1vh;
    }

    .btn {
        width: 13vw;
    }

    .categories-ul {
        min-height: 18vh;
    }
}

@media only screen and (max-width: 590px) {
    .games-grid {
        grid-template-columns: 1fr;
        gap: 1vh;
    }

    .btn {
        width: 20vw;
    }
}